---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "About Me",
	description: "I'm a platform engineer at Nearpod.",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			Hi, my name is Nathan Fries. I'm a Sr. Platform Engineer at Nearpod. I've had the opportunity
			to work on some really interesting projects in the search, tooling, devops, web, and ML
			spaces.
		</p>
	</div>
</PageLayout>
